
<h3 class="aligning">All Contacts</h3>

<ul>
	<%@contacts.each do |contact|%>
	<li class="aligning_c"><%= contact.first_name%> <%=contact.last_name%> <%=contact.email%> <%=contact.note%> </li>
	<li class="aligning_e_d"><a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="/contacts/<%= contact.id %>/delete">Delete</a></li>
	<%end%>
</ul>

